.hc-swiper__arrow--right,
.hc-swiper__arrow--left {
  top: 35% !important;
}

.minhset {
  min-height: 50px;
}

.minhset1 {
  min-height: 80px;
}

.pc_buyBtn.widthset {
  width: 95px !important;
  min-width: 95px !important;
  padding: 10px 0px !important;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */

.nft_name.mons,
.nft_coinname.mons {
  font-family: var(--montserrat-font);
  letter-spacing: unset;
}

input::placeholder {
  color: #fff !important;
  font-weight: 400 !important;
}

.react_select__placeholder {
  color: #fff !important;
}

.react_select__indicator svg {
  fill: #fff !important;
}

.orange {
  border: 2px solid #FF7E07 !important;
}

.actiate_hint.kyc_activated.orange p {
  color: #FF7E07 !important;
}

.kyc_activated.greenkyc {
  border: 2px solid #00DA09 !important;
}

.actiate_hint.kyc_activated.greenkyc p {
  color: #00DA09 !important;
}

.apexcharts-text tspan {
  fill: #16EBC3 !important;
}

.checkoutbtn {
  background: #16EBC3 !important;
  color: #000 !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  font-weight: 400 !important;
}

.nftInfo_table.nftalltable table thead tr th:last-child,
.nftInfo_table.nftalltable table tbody tr td:last-child {
  text-align: left;
}


@media(max-width:319px) {}

@media(min-width:320px) and (max-width:575px) {
  .hc-button___gradient p {
    padding-left: 9px !important;
    padding-right: 9px !important;
}

}

@media(min-width:576px) and (max-width:767px) {
  .hc-button___gradient p {
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.nft_name.mons{
  white-space: nowrap;
}
}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:992px) and (max-width:1199px) {}

@media(min-width:1200px) and (max-width:1399px) {
  .nftInfo_greenBar {
    max-width: 360px !important;
  }

  .hc-banner__top.initialsaletop {
    margin-top: 165px !important;
  }
}

@media(min-width:1400px) and (max-width:1499px) {
  .nftInfo_greenBar {
    max-width: 380px !important;
  }

  .greenBar_time {
    font-size: 18px !important;
  }

  .hc-banner__top.initialsaletop {
    margin-top: 170px !important;
  }
  .hc-button___gradient p {
    padding-left: 13px !important;
    padding-right: 13px !important;
}
.nft_name.mons{
   white-space: nowrap;
}
}

@media(min-width:1500px) and (max-width:1799px) {
  .custom_container.container {
    max-width: 1450px !important;
  }
  .nft_name.mons{
    white-space: nowrap;
 }
  .nftInfo_greenBar {
    max-width: 380px !important;
  }

  .greenBar_time {
    font-size: 18px !important;
  }

  .hc-banner__top.initialsaletop {
    margin-top: 170px !important;
  }
}

@media(min-width:1800px) {
  .custom_container.container {
    max-width: 1750px !important;
  }

  .hc-swiper__arrow--right {
    right: -34px !important;
  }

  .hc-swiper__arrow--left {
    left: -28px !important;
  }

  .nftInfo_greenBar {
    max-width: 380px !important;
  }

  .greenBar_time {
    font-size: 18px !important;
  }

  .hc-banner__top.initialsaletop {
    margin-top: 190px !important;
  }
}